@media (min-width: 992px) {
    .container {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.text-dark-gray {
    color: #494d50;
}

.error_message {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.page-title {
    margin-bottom: .75rem;
}

.page-subtitle {
    margin-bottom: 1.5rem;
    margin-top: -.375rem;
}

.img-container {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding-right: 0;
    align-self: center;

}

@media (min-width: 768px) {
    .img-container {
        padding-right: 15px;
    }
}

.col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.card:hover {
    opacity: 0.75;
    text-decoration: none;
}

.nav-button {
    font-size: 1.5rem;
}

.nav-button:hover {
    opacity: 0.75;
    text-decoration: none;
}

.form-button{
    padding-inline: 1.75rem;
    height: 3rem;
    font-size: medium;
}

.btn-outline-danger{
    border-color: lightgrey;
}
