{% for choice in field.field.choices %}
    <div class="radio-button">
        {% with label=choice.1 value=choice.0 index=forloop.counter %}
            <input type="radio" name="{{ field.name }}" value="{{ value }}"
                   id="id_{{ field.name }}_{{ index }}" {% if field.value == value %}checked{% endif %}>
            <label for="id_{{ field.name }}_{{ index }}" class="w-100 text-dark-gray">{{ label }}
                <span class="checkmark"></span>
            </label>
        {% endwith %}
    </div>
    <hr class="mt-1 mb-2">
{% endfor %}
{% if field.errors %}
    <div class="error_message hidden">
        {% for error in field.errors %}
            {{ error }}
        {% endfor %}
    </div>
{% endif %}
