{% for choice in field.field.choices %}
    <div class="radio-button">
        {% with label=choice.1 value=choice.0 index=forloop.counter %}
            {{ id }}
            <label for="id_{{ field.name }}_{{ index }}" class="w-100">{{ label }}
                <input type="radio" name="{{ field.name }}" value="{{ value }}"
                       id="id_{{ field.name }}_{{ index }}" {% if field.value == value %} checked {% endif %}>
                <span class="checkmark"></span>
            </label>
        {% endwith %}
    </div>
    <hr class="mt-1 mb-2">
{% endfor %}
