{% extends 'members/__base.html' %}
{% load static %}

{% block head %}
    Edit Member
{% endblock %}
{% block title %}
    Edit team member
{% endblock %}

{% block subtitle %}
    Edit contact info, location, and role.
{% endblock %}


{% block content %}
    {% include 'members/_add_edit_form_body.html' with deletabel=request.user.is_admin %}
    {% include 'members/delete_confirmation_modal.html' with pk=object.id %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="application/javascript" src={% static "members/js/member_form_script.js" %}></script>
{% endblock %}

