{% extends 'members/__base.html' %}
{% load static %}

{% block head %}
    team members
{% endblock %}

{% block title %}
    Team members
{% endblock %}

{% block subtitle %}
    You have {{ members|length }} team members.
{% endblock %}

{% block navbarItems %}
    <a class="nav-button" href="{% url 'members:new' %}">
        <i class="fa fa-plus"></i>
    </a>
{% endblock %}

{% block content %}
    {% for member in members %}
        <a class="card border-0" href="{% url "members:edit" member.id %}">
            <div class="flex-wrap d-flex">
                <div class="thumbnail-container">
                    <img src="{% static 'members/imgs/default_profile_picture.png' %}" class="card-thumbnail"
                         alt="member's profile picture">
                </div>
                <div class="card-body p-0 w-75">
                    <h5 class="text-dark-gray">{{ member.get_full_name }} {% if member.is_admin %}(admin){% endif %}</h5>
                    <p class="card-text mb-1">{{ member.phone }}</p>
                    <p class="card-text">{{ member.email }}</p>
                </div>
            </div>
        </a>
        <hr>
    {% endfor %}
{% endblock %}
