{% extends 'members/__base.html' %}
{% load static %}

{% block head %}
    team members
{% endblock %}

{% block title %}
    Team members
{% endblock %}

{% block subtitle %}
    You have {{ members|length }} team members.
{% endblock %}

{% block navbarItems %}
    <a class="nav-button" href="{% url 'members:new' %}">
        <i class="fa fa-plus"></i>
    </a>
{% endblock %}

{% block content %}
    {% for member in members %}
        <a class="card border-0" href="{% url "members:edit" member.id %}">
            <div class="row ml-0">
                <div class="col-md-2 img-container">
                    <img src="{% static 'members/imgs/default_profile_picture.png' %}" class="card-img"
                         alt="member's profile picture">
                </div>
                <div class="col-md-10">
                    <div class="card-body pl-0">
                        <h5 class="card-title text-dark-gray">{{ member.get_full_name }} {% if member.is_admin %}(admin){% endif %}</h5>
                        <p class="card-text text-muted ">{{ member.phone }}</p>
                        <p class="card-text text-muted">{{ member.email }}</p>
                    </div>
                </div>
            </div>
        </a>
        <hr>
    {% endfor %}
{% endblock %}
